html, body,#root{
  overflow-x: hidden!important; 
  margin: 0 !important;
  width: 100%;
  min-height: 100%;
  text-align: center;
  align-items: center;
  background-color: #eeeddd;
  display: flex;
  flex-direction: column
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center
}

.title-text {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.nav-element-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ADADAD;
  padding: 10px 0;
}

.search-input {
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  height: 35px;
  width: 200px;
  margin-right: 20px;
  background-color: white;
  transition: background-color 0.2s linear;
  color: #262626;
  padding-left: 10px;
  box-sizing: border-box
}

.search-input:hover {
  cursor: pointer;
  background-color: white;
}

.search-input:focus {
  outline: none;
  cursor: pointer;
  background-color: white;

  box-shadow: 0px 1px 6px #00000050;
}

.button {
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  height: 35px;
  min-width: 150px;
  padding: 0 10px;
  margin-right: 20px;
  background-color: darkgray;
  transition: background-color 0.2s linear;
  color: #262626;
  cursor: pointer;
  font-weight: 600
}

.button:hover {
  background-color: #E0E0E0;
}

.button:focus {
  outline: none;
}

.pagination-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: lightsteelblue;
  box-shadow: 0px 1px 6px #00000050;
  transition:  background-color 0.2s linear;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 27px;
  font-weight: 600;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px #00000050;
  transition:  background-color 0.2s linear;
  height: 50px!important;
  margin-bottom: 10px;
  border-radius: 3px;
}

.pagination-pages-box {
  display: flex;
  width: auto;
  height: 100%;
  margin: 0;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0!important
}

.pagination-active-class-link {
  background-color: lightslategray!important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  padding: 0 3px;
  height: 30px;
  color: white!important;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
}

.pagination-single {
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  padding: 0 3px;
  height: 30px;
  color: #262626;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer
}

.pagination-single {
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  padding: 0 3px;
  height: 30px;
  color: #262626;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
  transition: background-color 0.3s linear
}

.pagination-single:hover {
  background-color: lightgray;
}

.pagination-single:focus {
 outline: none!important
}

.pagination-edge-link:focus {
  outline: none;
}

.pagination-single-text {
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
  color: #262626
}

.prev-a {
  fill: #fff;
}

.next-a {
  fill: #262626;
}

.next-a-disactive {
  fill: #a3a3a3;
}

.hamburger-menu {
  display: none;
}

.navbar-elements {
  display: flex;
}

.phone-hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@media screen and (max-width: 700px) {
  html, body,#root{
    background-color: #464646;
  }

  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box
  }

  .navbar-elements {
    flex-direction: column-reverse;
    justify-content: center;
    width: 90%;
  }

  .nav-element-box {
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #ADADAD;
    padding: 10px 0;
    flex-direction: column
  }

  .button {
    min-width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .search-input {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    margin-right: 10px;
  } 

  .pagination-single-text {
    font-size: 13px;
  }

  .single-hide {
    display: none!important;
  }
}
